body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;

    .starter {
        z-index: 100;
        
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        overflow: hidden;
        position: absolute;


        animation: move 50s ease infinite;
        animation-delay: 10s;

        @keyframes move {
            0% {
                transform-origin: bottom top;
                transform: scale(1.0);
            }

            50% {
                transform: scale(1.1);
            }

            100% {
                transform-origin: bottom top;
                transform: scale(1.0);
            }
        }



        #legrain {
            position: absolute !important;
            width: 100vw;
            height: 100vh;
            opacity: 0.1;
        }

        .background {
            z-index: 0;
            position: absolute;
            width: 100vw;
            height: 100vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .box {
            filter: blur(1.5px);
            transition: all .5 ease;
            z-index: 10;
            width: 40vw;
            height: 40vh;

            #typewriter {
                transition: all .4s ease;
                font-family: font;
                color: #3fff00;
                font-size: 20px;
            }
        }
    }

    
    .rabbit {
        color: #3fff00;
        font-size: 20px;
        z-index: 50;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
    }

    .bandTop {
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        height: 110px;
        width: 100vw;
    }

    .bandBottom {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: black;
        height: 110px;
        width: 100vw;
    }


    .preloader {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        position: absolute;
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        overflow: hidden;
        opacity: 0;


        h1 {
            color: white;
            font-family: 'Raleway', sans-serif;
            text-align: center;

            animation: fadeoutText 9s ease;

            @keyframes fadeoutText {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }
        }

        background-color: black;

        animation: fadeout 10s ease;

        @keyframes fadeout {
            0% {
                opacity: 1;
                z-index: 20;
            }

            30% {
                opacity: 1;
                z-index: 20;
            }

            100% {
                opacity: 0;
                visibility: hidden;
                z-index: 0;
            }
        }

    }

    #secondContainer {
        width: 100vw;
        height: 100vh;
        position: absolute;
        right: 0;
        opacity: 0;

        transition: opacity 1s ease;

        z-index: 0;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }

        
        animation: rotatebackground 50s ease infinite;

        @keyframes rotatebackground {
            0% {
                transform: scale(1) rotate(0deg);
            }

            50% {                
                transform: scale(1.4) rotate(15deg);
            }

            100% {
                transform: scale(1) rotate(0deg);
            }
        }
    }
}

@font-face {
    font-family: "font";
    src: url(./TarifArabic-Medium.ttf);
}